.slider {
    display: flex;
    overflow: hidden;

    .inside {
        height: 650px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        .slide {
            width: 1440px;
            height: 958px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            position: relative;
            background-color: rgba(black, .55);

            &3 {
                height: 750px;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }

        }

        .arrowButtons {
            display: flex;
            width: 90px;
            justify-content: space-between;
            position: absolute;
            bottom: 45px;
            right: 103px;
            z-index: 1;
        }

        .switchButtons {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 122px;
            right: 101px;
            top: 197px;
            transition: .6s;
            padding: 4px 0;

            button {
                width: 12px;
                height: 12px;
                background-color: transparent;
                transform: rotate(45deg);
                border: solid 1px #FF7A00;
                cursor: pointer;

                &.active {
                    width: 16px;
                    height: 16px;
                    background-color: #FF7A00;
                }

            }

            .switchGroup {
                width: 100%;
                height: 92px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 4px 0;
            }
        }
    }


}